body {
  background-color: #f8f8ff;
}
.hide {
  display: none;
}
nav {
  display: flex;
  justify-content: center;
  .nav-tab {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 50px;
    width: 300px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

    .nav-item {
      width: 100px;
      text-align: center;
      &:hover {
        background-color: #c2b280;
        transition: all 0.8s ease;
      }
      &:first-child {
        border-radius: 30px 0 0 30px;
      }
      &:last-child {
        border-radius: 0 30px 30px 0;
      }

      .nav-link {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        letter-spacing: 1px;
      }
    }
    .active {
      background-color: #c2b280;
      a {
        color: #f8f8ff !important;
      }
    }
  }
}
#user-cards {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 20px;
  width: 100%;
  .card {
    width: 18.2%;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
    .card-body {
      p {
        margin-top: 0;
        margin-bottom: 0;
        &:nth-child(2) {
          font-weight: bold;
        }
        &:nth-child(3) {
          font-style: italic;
          color: #808080;
        }
        &:nth-child(4) {
          font-size: 0.9rem;
          letter-spacing: 1px;
        }
        &:nth-child(5) {
          font-size: 1rem;
        }
      }
    }
  }
}

.bg-black {
  background-color: black;
}
.bg-pink {
  background-color: pink;
}
